# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.gograph/

govulnchecker/.govulnchecker.yaml
govulnchecker/govulnchecker
multimod/multimod
waitforfiles/waitforfiles
citools.code-workspace
code_review.md
go.work
go.work.sum
github-runners/orchestrator/cmd/orchestrator-launcher/orchestrator-launcher
github-runners/orchestrator/orchestrator
github-runners/orchestrator/orchestrator-launcher
astest/astest
chrome-for-testing/chrome-for-testing
github-runners/linux/runner-env
github-runners/macos/runner-env
github-runners/orchestrator/build/
